.content {
  font-family: "Helvetica Neue";
}

pre, code, pre *, code * {
  font-family: "Monaco", monospace !important;
  line-height: 120% !important;
}

.content > h1 {
  margin: 0 0.5em;
}

.content strong {
  font-weight: normal;
}

.content > pre {
  font-size: 250%;
}

.content.left > p {
  text-align: left;
}

.small-code pre {
  font-size: 150%;
}

.tiny-code pre {
  font-size: 100%;
}

.faded li {
  opacity: 0.25;
}

.faded li.highlight {
  opacity: 1;
}

/* Syntax highlighting */

.slide {
  background-color: #1B1D1E;
  color: #F8F8F2;
}

.constant        { color: #66D9EF; }
.string          { color: #E6DB74; }
.comment         { color: #465457; }
.symbol, .number { color: #AE81FF; }
.keyword, h1     { color: #F92672; }
.title, strong   { color: #A6E22E; }
