.content {
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
}

pre, code, pre *, code * {
  font-family: "Menlo", monospace !important;
  line-height: 120% !important;
}

.content > h1 {
  margin: 0 0.5em;
}

.content > pre {
  font-size: 250%;
}

.content.left > p {
  text-align: left;
}

.small-code pre {
  font-size: 150%;
}

.tiny-code pre {
  font-size: 100%;
}

.faded {
  color: #bbb;
}

.faded .highlight {
  color: black;
}

